<% url = @template.persisted? ? admin_template_path(@template) : admin_templates_path %>
<%= simple_form_for @template, url: url, html: { class: "form-horizontal" } do |f| %>
  <%= f.input :name, { readonly: !@template.name_is_editable? } %>
  <%= f.input :type, as: :hidden, input_html: { value: @template._type } %>
  <%= f.input :template, as: :text, input_html: { class: "datajamTemplate", rows: 20, cols: 100 } %>

  <% if @template.custom_fields.any? %>
    <h3>Detected Template Fields</h3>
    <ul>
      <% @template.custom_fields.each do |f| %>
      <li><%= f %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, text_for_submit(@template), class: "btn-primary" %>
  </div>
<% end %>
