<h2>Templates</h2>
<p>There are two kinds of templates: a site template and event templates. There's one site template, and it applies to all site pages. Event templates can be used across many events.</p>
<h3>Site Template</h3>
<p>Define the site template below. Upload related images and stylesheets in the <a href="/admin/assets">assets</a> area.</p>
<p>Event templates live inside a containing element in the site template where <code>id="datajamEvent"</code>.</p>

<% form_for @site_template, url: admin_template_path(@site_template) do |f| %>
  <%= f.text_area :template, class: 'code', rows: 20, cols: 100 %>
  <%= f.submit 'Update' %>
<% end %>
<hr />
<h3>Event Templates</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Last Updated</th>
  </tr>
  <% @templates.each do |template| -%>
  <tr>
    <td><%= link_to template.name, edit_admin_template_path(template) %></td>
    <td><%= template.template_type.titlecase %></td>
    <td><%= template.updated_at.to_s :db %></td>
  <% end -%>
</table>
<hr />
<h3>New Event Template</h3>

<% form_for @template, url: admin_templates_path, method: :post do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label "Type" %>
  <%= f.select :template_type, options_for_select([ "internal", "external" ]) %>
  <%= f.text_area :template, class: 'code', rows: 20, cols: 100 %>
  <%= f.submit 'Create' %>
<% end %>

