<%= search_box(:asset_filename) %>
<%= table_for @assets, [:asset_filename, :created_at, ""] do |asset| %>
  <tr>
    <td><%= link_to asset.asset_filename, asset.asset.url %></td>
    <td><%= asset.created_at.to_s :db %></td>
    <td><%= delete_button admin_asset_path(asset,title: "This will completely destroy the asset", confirm: "Are you sure? This will completely destroy the asset.") %></td>
  </tr>
<% end -%>
