<h2>Static Assets</h2>

<p>Use this space to upload images, stylesheets and other files.</p>
<p>They will be available at <code><%= request.domain %>/static/assets/</code> after uploading.</p>

<h3>Current Assets</h3>

<%= render :partial => 'admin/assets/table' %>

<h3>New Asset</h3>

<%= simple_form_for [:admin, @asset], html: { class: "form-horizontal" } do |f| %>
  <%= f.input :asset, as: :file, hint: "Filenames will be lowercased, and spaces will be converted to underscores. Uploading a file of the same name as a current asset will replace it." %>
  <div class="form-actions">
    <%= f.button :submit, label: "Upload", class: "btn-primary" %>
  </div>
<% end %>
