<h2>Static Assets</h2>

<p>Use this space to upload images, stylesheets and other files.</p>
<p>They will be available at <code><%= request.domain %>/static/assets/</code> after uploading.</p>

<h3>Current Assets</h3>

<%= table_for @assets, ["Filename", "Uploaded", ""] do |asset| %>
  <tr>
    <td><%= link_to asset.asset_filename, asset.asset.url %></td>
    <td><%= asset.created_at.to_s :db %></td>
    <td><%= delete_button admin_asset_path(asset) %></td>
  </tr>
<% end -%>

<h3>New Asset</h3>
<p>Filenames will be lowercased, and spaces will be converted to underscores.</p>
<p>Uploading a file of the same name as a current asset will replace it.</p>

<%= form_for @asset, url: admin_assets_path, html: {:multipart => true} do |f| %>
  <%= f.file_field :asset %>
  <%= f.submit 'Upload' %>
<% end %>
