<%= simple_form_for [:admin, @event], html: { class: "form-horizontal" } do |f| %>
  <%= f.input :name %>
  <%= f.input :tag_string, input_html: { class: "taggable" } %>
  <%= f.input :event_template_id, collection: @event_templates %>
  <%= f.input :embed_template_ids, collection: @embed_templates, as: :check_boxes, label: "Embed templates" %>
  <%= f.input :scheduled_at, hint: "eg., 'this Tuesday at noon', 'May 25, 2013 at 4:00PM'" %>

  <% if @event.template_data %>
    <h3>Custom Template Fields</h3><br/>
    <%= f.simple_fields_for :template_data do |template| %>
      <% @event.template_data.each do |key, value| %>
        <%= template.input key.to_sym, input_html: { value: value } %>
      <% end %>
    <% end %>

  <% end %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>
