<h2>Events</h2>

<h3>Event List</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Scheduled At</th>
    <th></th>
    <th></th>
  </tr>
  <% @events.each do |event| -%>
  <tr>
    <td><%= link_to event.name, edit_admin_event_path(event) %></td>
    <td><%= event.status %></td>
    <td><%= event.scheduled_at.to_s :humane %></td>
    <td><%= button_to "End Event", finalize_admin_event_path(event), method: :put, title: "This will put the event in the archives" %></td>
    <td><%= button_to "Delete Event", admin_event_path(event), method: :delete, title: "This will put the event in the archives" %></td>
  <% end -%>
</table>

<h3>New Event</h3>

<%= form_for @event, url: admin_events_path, method: :post do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :event_template, 'Templates' %>
  <%= f.collection_select :event_template_id, @event_templates, :id, :name %>
  <% @embed_templates.each do |t| %>
    <%= check_box_tag 'event[embed_template_ids][]', t.id, false, id: t.id, class: 'inline' %>
    <%= label_tag t.id, t.name, class: 'inline' %><br />
  <% end %>
  <%= f.label :scheduled_at %>
  <%= f.text_field :scheduled_at %>
  <%= f.submit 'Submit' %>
<% end %>

