<h2>Events</h2>

<h3>Event List</h3>

<%= table_for @events, ["Name", "Status", "Scheduled At", "", ""] do |event| %>
  <tr>
    <td><%= link_to event.name, edit_admin_event_path(event) %></td>
    <td><%= event.status %></td>
    <td><%= event.scheduled_at.to_s :humane %></td>
    <td><%= button_to "End Event", finalize_admin_event_path(event), method: :put, title: "This will put the event in the archives", class: "btn btn-warning" %></td>
    <td><%= delete_button admin_event_path(event), title: "This will completely destroy the event", confirm: "Are you sure? This will completely destroy the event." %></td>
  </tr>
<% end -%>

<h3>New Event</h3>

<%= simple_form_for [:admin, @event], html: { class: "form-horizontal" } do |f| %>
  <%= f.input :name %>
  <%= f.input :event_template_id, collection: @event_templates %>
  <%= f.input :embed_template_ids, collection: @embed_templates, as: :check_boxes, label: "Embed templates" %>
  <%= f.input :scheduled_at %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>
