<h2>Embed Templates</h2>

<%= table_for @embed_templates, ["Name", "Last Updated", ""] do |template| %>
  <tr>
    <td><%= link_to template.name, edit_admin_templates_embed_path(template) %></td>
    <td><%= template.updated_at.to_s :humane %></td>
    <td><%= delete_button(admin_templates_embed_path(template), confirm: "Are you sure? This will completely destroy the template.") if template.can_be_deleted? %></td>
  </tr>
<% end %>

<hr />

<h3>New Embed Template</h3>
<%= render 'admin/templates/form' %>
