<h2>Event Templates</h2>

<%= table_for @event_templates, ["Name", "Last Updated", ""] do |template| %>
  <%= content_tag_for :tr, template do %>
    <td><%= link_to template.name, edit_admin_templates_event_path(template) %></td>
    <td><%= template.updated_at.to_s :humane %></td>
    <td><%= button_to("Delete", admin_templates_event_path(template), method: :delete, confirm: "Are you sure? This will completely destroy the template.") if template.can_be_deleted? %></td>
  <% end %>
<% end %>

<hr />

<h3>New Event Template</h3>
<%= form_for @template, url: admin_templates_events_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :template %>
  <%= f.text_area :template, class: 'datajamTemplate', rows: 20, cols: 100 %>
  <div class="ace-editor" id="ace-editor"></div>
  <%= f.submit 'Create' %>
<% end %>
