<h2>Plugins</h2>

<% if @plugins.any? %>
    <%= table_for @plugins, ["Name", "Description", "Version", "Authors", "Homepage"] do |plugin| %>
      <tr>
        <td><%= link_to plugin.name.titleize, plugin_settings_path(plugin.name) %></td>
        <td><%= plugin.summary %></td>
        <td><%= plugin.version %></td>
        <td><%= plugin.authors.join(', ') %></td>
        <td><%= link_to plugin.homepage, plugin.homepage %></td>
      </tr>
    <% end -%>
<% else %>
  <p>No plugins installed. Visit <a href="http://datajam.org">Datajam.org</a> for installation instructions.</p>
<% end %>
