<h2><%= @plugin.name.titleize %></h2>

<% @actions.each do |action| %>
  <a href="<%= url_for :action => action, :controller => "/#{@plugin.name}/plugin" %>" class="btn btn-mini"><%= action.to_s.titleize %></a>
<% end %>

<%= markdown @plugin.description %>

<% if @settings.any? %>
<form action="" method="post" class="form-horizontal">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <% @settings.each do |setting| %>
    <div class="control-group">
      <label for="setting_<%= setting.id %>"><%= setting.name.titleize %></label>
      <div class="controls">
        <input type="text" id="setting_<%= setting.id %>" name="settings[<%= setting.id %>][value]" value="<%= setting.value %>" />
      </div>
    </div>
  <% end %>
  <div class="form-actions">
    <button class="btn btn-primary">Save settings</button>
  </div>
</form>
<% else %>
<p>This plugin has no installed settings.</p>
<% end %>