<h2>Resend unlock instructions</h2>

<%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: "form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :email %></p>

  <div class="form-actions">
    <p><%= f.button :submit, "Resend unlock instructions", class: "btn-primary" %></p>
    <%= render :partial => "devise/shared/links" %>
  </div>
<% end %>
