<h2>Sign in</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: "form-horizontal" } ) do |f| %>
  <%= f.input :email %>

  <%= f.input:password, type: :password %>

  <% if devise_mapping.rememberable? %>
    <%= f.input :remember_me, input_html: { type: 'checkbox' }, label: "Remember me?" %>
  <% end %>

  <div class="form-actions">
    <p><%= f.button :submit, "Login", class: "btn-primary",  %></p>
    <%= render :partial => "devise/shared/links" %>
  </div>
<% end %>
