<%= simple_form_for [:admin, @card], html: { class: "form-horizontal" } do |f| %>
  <%= f.input :title %>

  <fieldset>
    <legend>Use the default template</legend>

    <% if f.object.new_record? %>
      <%= f.input :csv_file, as: :file, label: "CSV File" %>
    <% else %>
      <%= f.input :csv, as: :text, label: "Data", input_html: { class: "datajamTemplate rawData", rows: 10, cols: 100 } %>
    <% end %>

    <%= f.input :source, as: :text, label: 'Source Attribution', input_html: { rows: 5, cols: 80 }, hint: "Can use HTML" %>
  </fieldset>

  <fieldset>
    <legend>Or use your own HTML</legend>

    <%= f.input :body, as: :text, label: "HTML for the data card", input_html: { class: "datajamTemplate", rows: 10, cols: 100 } %>
  </fieldset>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>
