<h2>Edit Data Card</h2>

<%= form_for @card, url: admin_card_path(@card), method: :put do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :csv, 'Data' %>
  <%= f.text_area :csv, class: 'datajamTemplate', id: 'datajamTemplate', rows: 10, cols: 100 %>
  <div id="ace-editor"></div>

  <%= f.label :source, 'Source Attribution (can use HTML)' %>
  <%= f.text_area :source, rows: 5, cols: 80 %>

  <%= f.submit 'Submit' %>
<% end %>

