<h2>Data Cards</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Last Updated</th>
    <th>Delete</th>
  </tr>
  <% @cards.each do |card| -%>
  <tr>
    <td><%= link_to card.title, edit_admin_card_path(card) %></td>
    <td><%= card.updated_at.to_s :humane %></td>
    <td><%= link_to 'X', admin_card_path(card), method: :delete %></td>
  <% end -%>
</table>

<h3>New Card</h3>

<%= form_for @card, url: admin_cards_path, method: :post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :csv_file, 'CSV File' %>
  <%= f.file_field :csv_file %>

  <%= f.label :source, 'Source Attribution (can use HTML)' %>
  <%= f.text_area :source, rows: 5, cols: 80 %>

  <%= f.submit 'Submit' %>
<% end %>

