<h2>Data Cards</h2>

<%= table_for @cards, ["Title", "Last Updated", ""] do |card| %>
  <tr>
    <td><%= link_to card.title, edit_admin_card_path(card) %></td>
    <td><%= card.updated_at.to_s :humane %></td>
    <td><%= link_to 'X', admin_card_path(card), method: :delete %></td>
  </tr>
<% end %>

<h3>New Card</h3>
<%= render "form" %>
