<%= simple_form_for [:admin, @user], html: { class: "form-horizontal" } do |f| %>
  <%= f.input :name %>
  <%= f.input :affiliation%>
  <%= f.input :url, label: "URL" %>
  <%= f.input :avatar, as: :file do %>
    <%= f.input_field :avatar %>
    <br>
    <%= image_tag(@user.avatar_url(:small)) if @user.avatar? %>
  <% end %>
  <%= f.input :email %>
  <%= f.input :password, hint: 'At least 6 characters' %>
  <%= f.input :password_confirmation %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>
