<!DOCTYPE html>
<html>
<head>
  <title>Datajam</title>
  <%= stylesheet_link_tag :admin %>
  <%= javascript_include_tag :head %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
  <script type="text/javascript">
    window.curl || (curl = {
      baseUrl: '/javascripts',
      pluginPath: '/javascripts/curl/plugin',
      paths: {}
    });
    window.Datajam || (Datajam = {});
    Datajam.next_reset = <%= next_reset.to_i * 1000 %>;
    (function($){
        $(function(){
            $('body').prepend('<div class="container-fluid"><div class="alert alert-warning site-alert" id="next_reset">This is a demo site. It will reset its content ' + moment(Datajam.next_reset).fromNow() + '.</div></div>');
        });
    })(jQuery);
  </script>
  <script type="text/javascript">
    window.require  || (require = {});
    require.paths   || (require.paths = {});
    require.baseUrl || (require.baseUrl = "/javascripts/libs/require");
    require.paths.ace = "/javascripts/libs/ace";
    require.paths['ace/requirejs'] = "/javascripts/libs/require"
  </script>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to("Datajam", admin_root_path, class: "brand") %>
        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="/">Live Site &raquo;</a></li>
          </ul>

          <% if user_signed_in? %>
          <ul class="nav pull-right">
            <li><a href="<%= edit_admin_user_path current_user %>"><i class="icon-user"></i> <%= current_user.name %></a></li>
            <li class="divider-vertical"></li>
            <li><%= link_to("Sign Out", destroy_user_session_path) %></li>
          </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <% if user_signed_in? %>
      <div class="span3">
        <ul class="nav nav-list well">
        <% Datajam.navigation.each do |section| %>
          <% if !section[:if] || section[:if].call %>
          <li class="nav-header"><%= section[:title] %></li>
            <% section[:items].each do |item| %>
            <li>
              <a href="<%= item[:url] %>">
                <i class="icon-<%= item[:icon] %>"></i>
                <%= item[:title] %>
              </a>
            </li>
            <% end %>
          <% end %>
        <% end %>
        </ul>
      </div>
      <% end %>

      <div <% if user_signed_in? %>class="span9"<% end %> id="content">
        <%= flash_messages %>
        <%= yield %>

        <%= yield :body %>
      </div>
    </div>
    <div class="row-fluid">
      <footer class="span12">
        <a href="http://www.datajam.org">Datajam.org</a> |
        Built by the <a href="http://sunlightfoundation.com">Sunlight Foundation</a>
      </footer>
    </div>
  </div>
  <%= javascript_include_tag :admin %>
  <%= yield :javascript %>
</body>
</html>
