<!DOCTYPE html>
<html>
<head>
  <title>Datajam</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <script type="text/javascript">
    window.curl || (curl = {
      baseUrl: '/javascripts',
      pluginPath: '/javascripts/curl/plugin',
      paths: {
        json: 'http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js',
        jquery: 'http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7/jquery.min.js',
        jqueryui: 'http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js',
        underscore: 'http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.2.1/underscore-min.js',
        backbone: 'http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min.js',
        handlebars: 'http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0.beta2/handlebars.min.js'
      }
    })
  </script>
  <%= csrf_meta_tag %>

  <%= yield :head %>

</head>
<body>
  <div id="container">

    <div id="user_nav">
      <ul id="account">
        <% if user_signed_in? -%>
        <li><%= link_to "Sign Out", destroy_user_session_path %> | </li>
        <% end -%>
        <li><a href="/">Live Site &raquo;</a></li>
      </ul>
    </div>

    <div id="header">
      <h1>Datajam</h1>
      <ul id="navigation">
        <li><a href="/admin/events">Events</a></li>
        <li><a href="/admin/templates/events">Event Templates</a></li>
        <li><a href="/admin/templates/embeds">Embed Templates</a></li>
        <li><a href="/admin/templates/site">Site Template</a></li>
        <li><a href="/admin/plugins">Plugins</a></li>
        <li><a href="/admin/assets">Assets</a></li>
        <li><a href="/admin/users">Users</a></li>
      </ul>

    </div>

    <% if flash[:notice] %>
      <div id="flash_notice"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:error] %>
      <div id="flash_error"><%= flash[:error] %></div>
    <% end %>

    <%= yield %>

    <div id="footer">
      <p><a href="http://www.datajam.org">Datajam.org</a> | Built by the <a href="http://sunlightfoundation.com">Sunlight Foundation</a></p>
    </div>

  </div>

  <%= yield :body %>

  <%# Cloud 9's require.js implementation doesn't play nice with others, put this last. %>
  <script src="/javascripts/ace.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/mode-html.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
