<!DOCTYPE html>
<html>
<head>
  <title>Datajam</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">

    <div id="user_nav">
      <ul id="account">
        <% if user_signed_in? -%>
        <li><%= link_to "Sign Out", destroy_user_session_path %></li>
        <% end -%>
      </ul>
    </div>

    <div id="header">
      <h1>Datajam</h1>
      <ul id="navigation">
        <li><a href="/admin/events">Events</a></li>
        <li><a href="/admin/templates">Event Templates</a></li>
        <li><a href="/admin/plugins">Plugins</a></li>
        <li><a href="/admin/assets">Site Assets</a></li>
        <li><a href="/admin/users">Users</a></li>
      </ul>

    </div>

    <% if flash[:notice] %>
      <div id="flash_notice"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div id="flash_alert"><%= flash[:alert] %></div>
    <% end %>

    <%= yield %>

    <div id="footer">
      <p><a href="http://www.datajam.org">Datajam.org</a> | Built by the <a href="http://sunlightfoundation.com">Sunlight Foundation</a></p>
    </div>

  </div>

</body>
</html>
