<!DOCTYPE html>
<html>
<head>
  <title>Datajam</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <script type="text/javascript">
    window.curl || (curl = {
      baseUrl: '/javascripts',
      pluginPath: '/javascripts/curl/plugin',
      paths: {}
    })
  </script>
  <%= csrf_meta_tag %>

  <%= yield :head %>

</head>
<body>
  <div id="container">

    <div id="user_nav">
      <ul id="account">
        <% if user_signed_in? -%>
        <li><%= link_to "Sign Out", destroy_user_session_path %> | </li>
        <% end -%>
        <li><a href="/">Live Site &raquo;</a></li>
      </ul>
    </div>

    <div id="header">
      <h1>Datajam</h1>
      <ul id="navigation">
        <li><a href="/admin/events">Events</a></li>
        <li><a href="/admin/templates/events">Event Templates</a></li>
        <li><a href="/admin/templates/embeds">Embed Templates</a></li>
        <li><a href="/admin/templates/site">Site Template</a></li>
        <li><a href="/admin/plugins">Plugins</a></li>
        <li><a href="/admin/assets">Assets</a></li>
        <li><a href="/admin/cards">Data Cards</a></li>
        <li><a href="/admin/users">Users</a></li>
      </ul>

    </div>

    <% if flash[:notice] %>
      <div id="flash_notice"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:error] %>
      <div id="flash_error"><%= flash[:error] %></div>
    <% end %>

    <%= yield %>

    <div id="footer">
      <p><a href="http://www.datajam.org">Datajam.org</a> | Built by the <a href="http://sunlightfoundation.com">Sunlight Foundation</a></p>
    </div>

  </div>

  <script type="text/javascript">
    // don't allow curl.js to pollute the global namespace; ACE has its own require...
    window._define = window.define;
  </script>
  <script src="/javascripts/curl/curl.js" type="text/javascript"></script>
  <script type="text/javascript">
    window.define = window._define;
  </script>

  <%= yield :body %>

  <%# Cloud 9's require.js implementation doesn't play nice with others,
      put this last, just in case somebody needs the global require/define
      (though they should be using curl's instead). %>
  <script src="/javascripts/ace.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/mode-html.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
